img {
    vertical-align: top;
    /*解决图片底侧有空白缝隙的问题*/
}

.w {
    width: 1190px;
    margin: 0 auto;
}


@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?94f873');
    src: url('../fonts/icomoon.eot?94f873#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?94f873') format('truetype'),
        url('../fonts/icomoon.woff?94f873') format('woff'),
        url('../fonts/icomoon.svg?94f873#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    height: 80px;
    background-color: #020000;
}

/*快速导航栏begin*/
.shortcut {
    background-color: #e3e4e5;
    height: 30px;
    border-bottom: 1px solid #dddddd;
    line-height: 32px;
}

.city {
    margin-left: 200px;
}

.shortcut li {
    float: left;
}

.shortcut i {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    color: #cccccc;
}

.shortcut i:hover {
    color: #f10215;
}

.shortcut>ul>li>img {
    width: 100%;
}

.space {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 13px 12px 0;
}


.mobile {
    position: relative;
}

.mobile img {
    position: absolute;
    top: 24px;
    left: -3px;
    border: 1px solid #ccc;
    padding: 3px;
}

/*快速导航栏over*/
/*中间大部分*/
.middle {
    height: 140px;
    /*background-color: pink;*/
    position: relative;
}

.logo {
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .3);
}

.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: #fff url("../images/logo.v3.jpg") no-repeat;
}

.form {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px;
}

.form input {
    width: 498px;
    height: 35px;
    float: left;
    border: 1px solid #f10215;
    font-size: 14px;
    padding-left: 3px;
    box-sizing: border-box;
}

.form button {
    width: 50px;
    height: 35px;
    background-color: #f10215;
    float: left;
}

.form button i {
    font-family: 'icomoon';
    font-style: normal;
    color: #fff;
}

/*购物车*/
.shopCar {
    width: 188px;
    height: 33px;
    position: absolute;
    top: 25px;
    right: 95px;
    background-color: #fff;
    line-height: 33px;
    text-align: center;
    color: #f10215;
}

.shopCar i {
    font-family: 'icomoon';
    font-style: normal;
    margin-right: 5px;
}

.shopCar span {
    width: 15px;
    height: 15px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}

.dropdown-layer {
    top: 35px;
    right: 0;
    width: 308px;
    display: none;
    position: absolute;
    color: #666;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
}

.cart_pop {
    position: relative;
    z-index: 2;
    width: 100%;
    vertical-align: middle;
    background: #fff;
}

.cart_empty {
    height: 49px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}

.cart_empty_img {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    width: 56px;
    height: 49px;
    background: url(../images/index/cart.png) no-repeat;
}

.shopCar:hover .dropdown-layer {
    display: block;
    /* z-index: 11; */
}

.hotwords {
    position: absolute;
    top: 68px;
    left: 320px;
}

/*小导航部分*/
.navitems {
    width: 770px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 200px;
    line-height: 40px;
}

.navitems li {
    float: left;
    margin-left: 30px;
}

.navitems li a {
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}

.navitems .space {
    margin: 15px -15px 0 15px;
}

/* a:hover {
    color: #c81623;
} */

/*页面底部*/
footer {
    height: 500px;
    background-color: #EAEAEA;
    margin-top: 35px;
}

footer a {
    color: #666;
}

.service {
    padding: 30px 0;
    border-bottom: 1px solid #DEDEDE;
    overflow: hidden;
}

.service ul li {
    width: 297px;
    height: 43px;
    position: relative;
    line-height: 43px;
    float: left;
}

.service li h5 {
    position: absolute;
    top: 0;
    left: 38px;
    width: 36px;
    height: 43px;
    background: url("../images/duo.png") no-repeat;
    text-indent: -999em;
}

.service li:nth-child(2) h5 {
    background-position: 0 -43px;
}

.service li:nth-child(3) h5 {
    background-position: 0 -86px;
}

.service li:nth-child(4) h5 {
    background-position: bottom;
}

.service li p {
    font-weight: 700;
    margin-left: 82px;
}

.help {
    height: 200px;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 25px;
    box-sizing: border-box;
}

.help dl {
    width: 192px;
    float: left;
}

.help dt,
.coverage h5 {
    height: 30px;
    font-size: 14px;
    color: #666;
}

.help dd {
    height: 22px;
}

/*范围*/
.coverage {
    width: 200px;
    height: 150px;
    background: url("../images/ico_footer.png");
}

.coverage h5 {
    padding-left: 35px;
}

.coverage p {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    width: 180px;
}

.coverage a {
    display: block;
    margin-top: 5px;
    width: 180px;
    text-align: right;
}

/*底部版权*/
.copyright {
    padding-top: 20px;
    text-align: center;
    color: #666;
    font-size: 12px;
}

.copyright span {
    margin: 0 10px;
}

.copyright div {
    line-height: 20px;
}

.copyright p {
    line-height: 22px;
}

.foot-icon a {
    display: inline-block;
    width: 103px;
    height: 33px;
    background: url("../images/ico_footer.png") no-repeat -103px -150px;
    /*margin-top: 20px;*/
    margin: 20px 4px 0;
}

.foot-icon a:nth-child(2) {
    background-position: 0 -183px;
}

.foot-icon a:nth-child(3) {
    background-position: -103px -183px;
}

.foot-icon a:nth-child(4) {
    background-position: 0 -216px;
}

.foot-icon a:nth-child(5) {
    background-position: -103px -216px;
}